<ul>
    <li><strong>University:</strong> Universidad Politécnica de Madrid (UPM)</li>
    <li><strong>Program:</strong> B.Sc. Electronics & Automation Engineering</li>
    <li>{% assign tk = site.data.education.bsc.thesis_key %}{% include thesis_entry.html key=tk %}
        <a class="link-badge" href="https://github.com/enheragu/RHA" target="_blank" rel="noopener noreferrer">[code]</a>
        <br>Directed by {{ site.data.education.bsc.directors }}.
        <br>Part of the ROBOHEALTH national project (RETOS · DPI2013-47944-C4-2-R). <a class="link-badge" href="https://blogs.upm.es/miguelhernando/national-projects/" target="_blank" rel="noopener noreferrer">[link]</a></li>
    <li><strong>HackLab UPM-BQ:</strong> Member of the university maker lab, involved in electronics and 3D printing projects.</li>
</ul>

{% include repo_card.html repos="enheragu/RHA, enheragu/RHA-report" %}