
{% assign pubs = site.data.publications | where: "type_key", "book_chapter" | first %}
{% if pubs %}
<ul class="pub-list">
    {% for pub in pubs.entries %}
    <li>
        <cite><small>{{ pub.authors | join: ", " }}. </small></cite>
        <strong>({{ pub.year }}). {{ pub.title }}</strong>.
        {% if pub.venue %} In <em>{{ pub.venue }}</em>.{% endif %}
        {% if pub.publisher %} {{ pub.publisher }}.{% endif %}
        {% if pub.pages %} pp. {{ pub.pages }}.{% endif %}
        {% include publication_actions.html pub=pub %}
    </li>
    {% endfor %}
</ul>
{% endif %}
