<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }} | {{ site.title }}</title>
        <link id="favicon" rel="shortcut icon" type="image/svg" href={{ "/img/robot.svg" | absolute_url }} />
        <link rel="stylesheet" type="text/css" href={{ "/css/index.css" | absolute_url }} />
        {% for stylesheet in page.custom_css %}
        <link rel="stylesheet" type="text/css" href={{ stylesheet | absolute_url }} />
        {% endfor %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
    </head>

    <body>
        {{ content }}
    </body>
    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    {% for jsfile in page.custom_js %}
    <script src={{ jsfile | absolute_url }} ></script>
    {% endfor %}

</html>