<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="robots" content="noindex, nofollow" />
        <link id="favicon" rel="shortcut icon" type="image/svg+xml" href="{{ '/img/robot.svg' | relative_url }}" />
        <link rel="stylesheet" type="text/css" href="{{ '/css/print.css' | relative_url }}" />
        {% for stylesheet in page.custom_css %}
        <link rel="stylesheet" type="text/css" href="{{ stylesheet | relative_url }}" />
        {% endfor %}
    </head>

    <body>
        {{ content }}
    {% for jsfile in page.custom_js %}
    <script src="{{ jsfile | relative_url }}"></script>
    {% endfor %}
    </body>

</html>
